<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ramotion.showroom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/sr_launcher"
        android:roundIcon="@mipmap/sr_launcher_round"
        android:label="@string/sr_app_name"
        android:supportsRtl="true"
        tools:replace="android:label">

        <activity
            android:name=".ShowroomActivity"
            android:label="@string/sr_app_name"
            android:screenOrientation="portrait"
            android:theme="@style/sr_app_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".examples.expandingcollection.ExpandingCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ec_app_theme" />

        <activity
            android:name=".examples.foldingcell.FoldingCellActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fc_app_theme" />

        <activity
            android:name=".examples.paperonboarding.PaperOnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/po_app_theme" />

        <activity
            android:name=".examples.cardslider.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/cs_app_theme" />


        <activity
            android:name=".examples.garlandview.main.MainActivity"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".examples.garlandview.details.DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".examples.garlandview.profile.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>