<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ramotion.showroom">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
    android:name=".ShowroomApplication"
    android:allowBackup="true"
    android:fullBackupContent="false"
    android:icon="@mipmap/sr_launcher"
    android:label="@string/sr_app_name"
    android:largeHeap="true"
    android:roundIcon="@mipmap/sr_launcher_round"
    android:supportsRtl="true"
    tools:replace="android:label">

    <activity
      android:name=".ShowroomActivity"
      android:label="@string/sr_app_name"
      android:launchMode="singleTop"
      android:screenOrientation="portrait"
      android:theme="@style/SrAppTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <data
          android:host="oauth"
          android:scheme="showroom"/>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".examples.dribbbleshots.presentation.ui.dribblbeshots.DribbbleShotsActivity"
      android:exported="true"
      android:screenOrientation="portrait"
      android:theme="@style/DSAppTheme"/>

    <activity
      android:name=".examples.dribbbleshots.presentation.ui.dribbbledetails.DribbbleShotDetailsActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize"
      android:theme="@style/DSAppTheme"/>

    <activity
      android:name=".examples.expandingcollection.ExpandingCollectionActivity"
      android:screenOrientation="portrait"
      android:theme="@style/EcAppTheme"/>

    <activity
      android:name=".examples.foldingcell.FoldingCellActivity"
      android:screenOrientation="portrait"
      android:theme="@style/FcAppTheme"/>

    <activity
      android:name=".examples.paperonboarding.PaperOnboardingActivity"
      android:screenOrientation="portrait"
      android:theme="@style/PoAppTheme"/>

    <activity
      android:name=".examples.cardslider.CardSliderActivity"
      android:screenOrientation="portrait"
      android:theme="@style/CsAppTheme"/>

    <activity
      android:name=".examples.garlandview.main.GarlandViewMainActivity"
      android:screenOrientation="portrait"
      android:theme="@style/GvAppTheme.NoActionBar"/>

    <activity
      android:name=".examples.garlandview.details.GarlandViewDetailsActivity"
      android:label="@string/gv_title_activity_details"
      android:theme="@style/GvAppTheme.NoActionBar"/>

    <activity
      android:name=".examples.garlandview.profile.GarlandViewProfileActivity"
      android:theme="@style/GvAppTheme.NoActionBar"/>

    <activity
      android:name=".examples.circlemenu.CircleMenuMainActivity"
      android:theme="@style/CmAppTheme"/>

  </application>

</manifest>